@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Londrina+Shadow&family=Russo+One&display=swap");

nav{
    justify-content: center;
    padding-left: 10px;
    display: flex;
}

