<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
<div class="banner">
    <i class="fab fa-github fa-3x text-light"></i>
    <h1 class="pt-1 text-light pl-1" style="font-family: 'Londrina Shadow', cursive;font-size: 40px;">
        GITUSERS<span class="text-primary" style="font-family: 'Alfa Slab One', cursive;font-size: 22px;">APP</span>
    </h1>
</div>
<div class="search">
    <h1 class="text-white">Welcome to <span class="text-primary">GitUser Google Search</span> !</h1>
    <h4>Search for a Github User Here</h4>
    <form (ngSubmit)="findUser($event)" #gitsearchForm="ngForm">
        <div class="form-group">
            <input type="text" [(ngModel)]="username" name="username" placeholder="Enter Github Username">
            <button type="submit" [disabled]="!username" class="submit" name="button">Search</button><span
                class="text">Scroll Down to
                know more about the github User your have searched !!!</span>
        </div>
    </form>
</div>
<div class="container pt-5">
    <h3 class="text-center text-primary"><i class="far fa-id-card"></i>&nbsp; User's <span style="font-family: 'Londrina Shadow', cursive;font-size: 35px;color: aliceblue;">Biography</span></h3>
    <hr>
    <div *ngIf="details">
        <div class="row pt-3">
            <div class="col-md-5">
                <div class="profile">
                    <div class="profileImg">
                        <img src="{{details.avatar_url}}" alt="Profile Image" class="rounded-circle" alt="Cinque Terre">
                        <div class="overlay">
                            <div id="name">{{details.name}}</div>
                        </div>
                    </div>
                    <br><br>
                    <h6 class=" text-primary" style="font-family: 'Faster One', cursive;font-size: 20px;" appHighlight><i
                        class="far fa-user-circle text-muted"></i>
                        &nbsp; {{details.name}} <b class="pl-2" style="font-size: 17px;color: aliceblue;">( {{details.login}} )</b></h6>
                        <p class="pt-2 text-center" style="font-size: 25px;"><a href="{{details.html_url}}" target="_blank">View profile on Github</a></p>
                    <p class="text-white text-center" style="font-family: 'Londrina Shadow', cursive;font-size: 22px;"><i class="fa fa-history text-muted" aria-hidden="true"></i>&nbsp;&nbsp;created &nbsp;:&nbsp;&nbsp;<b class="text-primary" style="font-size: 20px;">&nbsp;{{details.created_at | dateAgo}}</b> </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="profilebox text-center">
                    <h3><i class="fas fa-book-open"></i>&nbsp;Profile Overview</h3>
                    <hr>
                    <p *ngIf="details.company"><i class="fas fa-building text-dark"></i>&nbsp;&nbsp;Works at <b
                            class="text-primary" style="font-family: 'Faster One', cursive;">&nbsp;{{details.company}}</b></p>
                    <hr>
                    <p *ngIf="details.location"><i class="fas fa-globe-africa text-dark"></i>&nbsp;&nbsp;Located at <b
                            class="text-primary" style="font-family: 'Faster One', cursive;">&nbsp;{{details.location}}</b>
                    </p>
                    <hr>
                    <p *ngIf="details.email"><a href="emailto:{{details.email}}" target="_blank"></a><i
                            class="fas fa-envelope-open-text text-dark"></i>&nbsp;&nbsp;<b class="text-primary"
                            style="font-family: 'Faster One', cursive;">{{details.email}}</b></p>
                    <hr>
                    <p><i class="fas fa-users text-dark"></i>&nbsp;&nbsp;Followers :&nbsp;<b class="text-primary"
                            style="font-family: 'Londrina Shadow', cursive;">{{details.followers}}</b></p>
                    <hr>
                    <p><i class="fas fa-user-plus text-dark"></i>&nbsp;&nbsp; Following :&nbsp;<b class="text-primary"
                            style="font-family: 'Londrina Shadow', cursive;">{{details.following}}</b></p>
                    <hr>
                    <p><i class="cil-book text-dark"></i>&nbsp;&nbsp;Repositories :&nbsp;<b class="text-primary"
                            style="font-family: 'Londrina Shadow', cursive;">{{details.public_repos}}</b></p>
                    <hr>
                    <p *ngIf="details.bio"><i class="fa fa-info-circle text-dark" aria-hidden="true"></i>&nbsp;&nbsp;<b
                            class="text-primary" style="font-family: 'Faster One', cursive;">{{details.bio}}</b>
                    </p>
                    <hr>
                    <p *ngIf="details.blog"><a href="details.blog" target="_blank"><i
                                class="fas fa-blog text-dark"></i>&nbsp;&nbsp;<b>{{details.blog}}</b></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="container">
                <h3 class="text-center text-primary"><i class="cil-book"></i>&nbsp;&nbsp;Popular repositories / <span style="font-family: 'Londrina Shadow', cursive;font-size: 35px;color: aliceblue;">Top repositories</span> </h3>
                <hr>
                <div class="cards d-flex">
                    <div id="repos" class="card mt-2" *ngFor="let repo of repos" style="width: 25rem;">
                        <div class="card-header">
                            <h5 class="card-title">{{repo.name}}</h5>
                        </div>
                        <div class="card-body">
                            <p>{{repo.description}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{{repo.html_url}}" target="_blank"><button> <img src="https://img.icons8.com/ios-glyphs/20/000000/github.png"/>
                            View this project on Github</button></a>
                            <button>Forks {{repo.forks_count}}</button>
                            <button>Language&nbsp;:&nbsp;{{repo.language}}</button>
                            <button>Updated&nbsp;:&nbsp;{{repo.updated_at | date |dateAgo}}</button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<footer>
    <h6 class="text-center text-white">
        Copyright (c) 2020 Collins Akumu
    </h6>

</footer>