@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Londrina+Shadow&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Nosifer&family=Racing+Sans+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bungee+Shade&family=Faster+One&family=Jacques+Francois+Shadow&family=Londrina+Outline&family=Nosifer&display=swap');

.banner {
  padding-left: 10px;
  display: flex;
}

button {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #cc0404;
}

.submit {
  background-color: blue;
  border: none;
  width: 120px;
}

input {
  border: none;
  padding-left: 20px;
  width: 300px;

}

input{
  padding: 16px;
}

.search button{
  padding: 16px;
}

.search {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  vertical-align: middle;

}

.search h1 {
  margin: 10px 0 0;
  letter-spacing: -4px;
  text-shadow: 1px 1px #000;
  font-family: 'Londrina Shadow', cursive;
  font-size: 60px;

}

.search h1 span {
  font-size: 50px;
  font-family: 'Londrina Shadow', cursive;
}

.search h4 {
  font-family: 'Faster One', cursive;
  color: blue;
}

.text {
  display: block;
  position: relative;
  top: 20px;
  text-shadow: 1px 1px #000;
  justify-content: center;
  font-size: 20px;
}

.profileImg{
  border-radius: 100%;
  display: flex;
  height: 365px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 350px;
}


.image {
  height: 100%;
}

.overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
  background-color: rgba(211, 211, 211, 0.5);
  background: linear-gradient(65deg, rgba(131, 126, 126, 0.5), rgba(18, 179, 243, 0.4));
  font-size: 24px;
  color: #fafafa;
}

.profileImg:hover .image {
  opacity: 0.3;
}

.profileImg:hover .overlay {
  opacity: 1;
}

#repos {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px white;
}

#repos:hover {
  box-shadow: 0 0 10px black;
}

p a {
  text-decoration-line: none;
}

.profilecont {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.profile img {
  height: 365px;
  width: 370px;
  margin-right: 5%;
}

.profile,
.profilebox {
  margin-left: 10%;
  margin-right: 10%;
}

.profilebox {
  box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.5);
  background-color: rgba(211, 211, 211, 0.5);
  padding: 30px;
}

.profilebox p {
  color: #fff;
}

span {
  padding-left: 5px;
}

h5 {
  font-family: 'Londrina Shadow', cursive;
  color: #fff;
  font-size: 25px;
}

.cards {
  flex-wrap: wrap;
  justify-content: space-around;
}

#repos a {
  text-decoration-line: none;
}

h6 {
  font-family: 'Faster One', cursive;
}

hr {
  background: aliceblue;
}

.card-footer button{
  font-size: 13px;
  padding: 8px;
  margin: 4px;
}
