<div class="banner">
    <i class="fab fa-github fa-3x text-light"></i>
    <h1 class="pt-1 text-light pl-1" style="font-family: 'Londrina Shadow', cursive;font-size: 40px;">
        GITUSERS<span class="text-primary" style="font-family: 'Alfa Slab One', cursive;font-size: 22px;">APP</span>
    </h1>
</div>
<div class="search">
    <h1 class="text-white">Welcome to <span class="text-primary">GitUser Google Search</span> !</h1>
    <h4>Search for a Github User Here</h4>
    <form (ngSubmit)="findUser()" #gitsearchForm="ngForm">
        <div class="form-group">
            <input type="text" required id="username" [(ngModel)]="username" name="username"
                placeholder="Enter Github Username">
            <button type="submit" [disabled]="!username" class="submit" name="button">Search</button><span class="text">Scroll Down to
                know more about the github User your have searched !!!</span>
        </div>
    </form>
</div>
<div class="container">
    <div *ngIf="details">
        <div class="profilecont">
            <div class="profile">
                <img src="{{details.avatar_url}}" alt="Profile Image" class="rounded-circle" alt="Cinque Terre"><br>
                <p class="pl-4 pt-2"><a href="{{details.html_url}}" target="_blank">View profile on Github</a></p>
                <p class="pl-3 text-white" style="font-family: 'Londrina Shadow', cursive;font-size: 22px;"> You've Viewed <b class="text-primary pl-1"  style="font-size: 20px;">{{today | dateAgo}}</b> </p>
            </div>
            <div class="profilebox">
                <p appHighlight ><i class="fas fa-user text-muted"></i> <b class="pl-2 text-primary"
                        style="font-family: 'Faster One', cursive;">{{details.name}}</b> ({{details.login}})</p>
                <p *ngIf="details.company"><i class="fas fa-building text-muted"></i> Works at <b class="text-primary"
                        style="font-family: 'Faster One', cursive;">{{details.company}}</b></p>
                <p *ngIf="details.location"><i class="fas fa-globe-africa text-muted"></i> Located at <b
                        class="text-primary" style="font-family: 'Faster One', cursive;">{{details.location}}</b></p>
                <p *ngIf="details.email"><a href="emailto:{{details.email}}" target="_blank"></a><i
                        class="fas fa-envelope-open-text text-muted"></i> <b class="text-primary pl-1"
                        style="font-family: 'Faster One', cursive;">{{details.email}}</b></p>
                <p><i class="fas fa-users text-muted"></i> Followers : <b class="text-primary"
                        style="font-family: 'Londrina Shadow', cursive;">{{details.followers}}</b></p>
                <p><i class="fas fa-user-plus text-muted"></i> Following : <b class="text-primary"
                        style="font-family: 'Londrina Shadow', cursive;">{{details.following}}</b></p>
                <p><i class="fab fa-github text-muted"></i> Repositories : <b class="text-primary"
                        style="font-family: 'Londrina Shadow', cursive;">{{details.public_repos}}</b></p>
                <p *ngIf="details.bio"><i class="fa fa-info-circle text-muted" aria-hidden="true"></i> <b
                        class="text-primary pl-1" style="font-family: 'Faster One', cursive;">{{details.bio}}</b></p>
                <p  *ngIf="details.blog"><a href="details.blog" target="_blank"><i class="fas fa-blog text-muted"></i> <b
                            class="pl-1">{{details.blog}}</b></a></p><br>
            </div>
        </div>
    </div>
    <div *ngFor="let repo of repos">
        <div class="repos">
            <h5>{{repo.name}}</h5>
            <p>{{repo.description}}</p><a href="{{repo.html_url}}" target="_blank">View this project on Github</a>
        </div>
    </div>
</div>
<footer>
    <h6 class="text-center text-white">
        Copyright (c) 2020 Collins Akumu
    </h6>
    
</footer>